.add-passkey-navbar {
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.add-passkey-navbar i {
    font-size: 25px;
    color: black;
}

.add-passkey-container {
    padding: 20px 10px;
}

.account-provider {
    padding: 10px;
}

.account-provider h4 {
    font-size: 20px;
}

.account-provider img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.account-provider:hover {
    cursor: pointer;
    background-color: #f2f4f6;
}

.dropdown-scrollable {
    max-height: 250px;
    /* approximate height for 5 items */
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background: #fff;
    z-index: 1000;
    /* ensure it floats above other elements */
    position: absolute;
}

.dropdown-scrollable .dropdown-item {
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.dropdown-scrollable .dropdown-item:hover {
    background-color: #f0f0f0;
}