.migrate-container {
  /* min-height: 100vh;
  display: flex; */
  align-items: center;
  justify-content: center;
  background: #f8f9fa;
}

.migrate-card {
  background: #fff;
  padding: 32px;
  border-radius: 14px;
  width: 100%;
  max-width: 520px;
}

.info-box {
  background: #f1f5ff;
  border-left: 4px solid #4c6ef5;
  padding: 12px 16px;
  margin-top: 16px;
  border-radius: 8px;
}

.info-box.warning {
  background: #fff7e6;
  border-left-color: #f59f00;
}