.App {
  width: 400px;
  margin: 0 auto;
  background-color: white;
}

.footer {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.footer i {
  color: red;
}

.footer a {
  color: black;
}

@media (max-width: 400px) {
  .App {
    width: 100%;
  }

  .auth-form-container,
  .keys-list-container {
    padding: 20px;
  }

  .history-container {
    width: 100% !important;
  }

  .migration-warning {
    margin: auto 20px;
  }

  .hamburger-menu {
    transform: translateX(-130px);
  }
}